<h1> EDIT THAT <%= @product.name %> </h1>
<br>

<%= form_tag "/products/#{@product.id}", method: :patch do %>
  <div>
    Name: <input type="text" name="name" value="<%=@product.name %>">
  </div>
  <div>
    Price: <input type="text" name="price" value="<%=@product.price %>">
  </div>
  <div>
    Image URL: <input type="text" name="image" value="<%=@product.image %>">
  </div>
  <div>
    Description: <input type="text" name="description" value="<%=@product.description %>">
  </div>
  <input type="submit" value="EDIT THAT">


<% end %>