<h1> Welcome to The Store </h1>
<h3>stay a while... </h3>
<br>
<ol>
<% @inventory.each_with_index do |item, i| %>
  <li>
    <ul>
      <li>
        <li><h2><a href="/products/<%= item.id %>"><%= item.name%></a>: $<%= item.price %> </h2></li>
        <li><img src="<%= item.image %>"></li>
        <li><h4>- <%= item.description %></h4></li>
      </li>
    </ul>
  </li>
  <br>
<% end %>
</ol>


